.main {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  max-width: min(45rem,100%) !important;
}

.text {
  text-align: center;
}

.tabs {
  margin-top: 48px;
}